
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 300px;
    padding-left: 100px;
}

.headerrow {
    display: flex;
    width: 100%;
}

.headercolumn {
    width: 50%;
}
