
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

.logocolored {
    width: 300px;
    /* padding-left: 200px; */
}

.headerrow {
    display: flex;
    width: 100%;
}

.headercolumn {
    width: 50%;
    padding-left: 150px;
}

.banner{
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.servicesrow {
    display: flex;
}

.logowhite {
    width: 300px;
    
}

.logowhitetext {
    background-color: blue;
    width: 100%;
}

.container {
    padding-left: 150px;
    padding-right: 150px;
}