@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/* HEADER */

.logocolored {
    width: 300px;
}

.headerrow {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu a {
    text-decoration: none;
    padding: 12px;
    color: #382c32;
    font-weight: 600;
    font-size: 18px;
}

a.active {
    color: white;
    background-color: #FF0077;;
    padding-top: 100%;
    padding-bottom: 33px;
}

a.active:hover {
    color: white
}

a:hover {
    color: #FF0077;;
}

.headercolumn {
    width: 50%;
    padding-left: 150px;
}

/* MAIN */

.row:first-child {
    background-image: linear-gradient(0, #ffffff 0, #ffffff 50%, #faf6f7 100%);
}

.row {
    display: flex;
    width: 100%;
}

.row p {
    font-size: 20px;
}

.h2-pink{
    color: #FF0077;
}

.img-left {
    height: 480px;
    width: 675px;
    object-fit: cover;
}

.column-text-right {
    padding-left: 40px;
    padding-top: 30px;
}

.img-right {
    height: 480px;
    width: 675px;
    object-fit: cover;
}

.column-text-left {
    width: 66.66%;
    text-align: right;
    padding-right: 40px;
    background-color: #FF0077;
    color: white;
    padding-top: 30px;
    
}

/* .column-img-left {
    margin-bottom: none;
} */

.column-text-right-2 {
    color: white;
    background-color: #0077ff;;
    padding-left: 40px;
    padding-top: 30px;
    width: 100%;
}

.column-text-left-2 {
    width: 66.66%;
    text-align: right;
    padding-right: 40px;
    background-color: #FF320D;
    color: white;
    padding-top: 30px;
}


















/* FOOTER */
.footerrow {
    display: flex;
    padding-bottom: 60px;
}

.logofooter {
    width: 300px;
}

.footer {
    background-color: #FF0077;
    width: 100%;
    padding: 130px 230px 80px 230px;
    box-sizing: border-box;
    color: white;
}

.footer h4 {
    font-size: 18px;
}

.footercolumn {
    width: 33.33%;
    align-items: center;
    text-align: right;
    font-size: 16px;
}

.contato {
    text-align: left;
}

.horario {
    text-align: center;
}

.socialmedia {
    text-align: right;
}

.footercolumn i {
    padding: 10px;
    font-size: 30px;
}

.devdbycrie {
    border-top: 2px solid rgb(255, 0, 136);
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
}

.footercolumn i:hover {
    transform: scale(1.5) rotate(10deg);
}